<manifest package="pl.reticular.ttw"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        
        <activity
            android:name=".StartActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_start"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".GameActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_game"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StartActivity" />
        </activity>
        
        <activity
            android:name=".HighScoresActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_high_scores"
            android:screenOrientation="portrait" />
        
        <activity
            android:name=".HelpActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_help"
            android:screenOrientation="portrait" />
        
        <activity
            android:name=".AboutActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_about"
            android:screenOrientation="portrait" />

    </application>
</manifest>
